*{
    margin: 0;
    padding: 0;
    gap: 0;
    font-family: "Montserrat";
}
.prizes{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.prizes__content{
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.2);
}
.prizes__image{
    width: 100%;
    height: 138px;
    object-fit: cover;
    object-position: top;
    border-radius: 16px 16px 0px 0px;
    transition: 2s;
    display: block;
}
.prizes__image--active{
    width: 100%;
    height: 1500px;
    transition: 2s ease-in-out;
}
.prizes__content-text{
    padding-top: 12px;
    padding-left: 64px;
    padding-right: 24px;
    position: relative;
    height: 138px;
    overflow: hidden;
    transition: 2s;
}
.prizes__content-text::after{
    content: "";
    width: 100%;
    height: 138px;
    background: linear-gradient(180deg, rgba(141, 125, 125, 0) 0%, rgba(255, 255, 255, 1) 100%);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: 2s ease;
}
.prizes__content-text--active{
    height: 250px;
    transition: 2s;
}
.prizes__content-text--active::after{
    transition: 2s;
    opacity: 0;
}
.prizes__h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.prizes__p{
    font-size: 13px;
    font-weight: 500px;
    margin-bottom: 24px;
}
.prizes__button{
    width: 157px;
    height: 44px;
    border-radius: 8px;
    background-color: #F7D22D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:transparent;
    font-size: 14px;
    font-weight: 700;
    margin-left: 64px;
    margin-bottom: 20px;
}